#navbar{
    display: flex;
    height: 75px;
    width:100%;
    background-color: darkkhaki;
    
}
body{
    margin: 0px;
    padding: 0px;
}
#inputval{
    display: inline-block;
}
#innerinputval{
    display: inline-block;
    margin-left: 10px;
}